/* ----- Navbar ----- */
header {
    background: #003366;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f9f9f9;
    padding-top: 80px;
} 